// Padding offest for background images
%responsive-hero {
  padding: 25% 0 0 0;
  
  @media #{$medium-up} {
    padding: 35% 0 0 0;
  } 

  @media #{$large-up} {
    padding: 0;
    height: 600px;
  }

  @media #{$xlarge-up} {
    height: 70vh;
  }
}

%responsive-hero-secondary {
  padding: 50% 0 0 0;
  
  @media #{$medium-up} {
    padding: 50% 0 0 0;
  } 

  @media #{$large-up} {
    padding: 0;
    height: 300px;
  }

  @media #{$xlarge-up} {
    height: 30vh;
  }
}

// Padding offest for background images
%responsive-169 {
  position: relative;
  padding-bottom: 53.7%;
  height: 0;
  overflow: hidden; 

  iframe, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

%hover-overlay {
 opacity: 0;

 &:hover {
  opacity: 1;
  cursor: pointer;
  }
}  

// Transparent Color Overlay 
%full-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  margin-bottom: 0;

  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;

  background-color: rgba($alert-color, .8);
}

figure {
  margin: 0;
}

%full-gradient {
  &:before {
    @include background-image(linear-gradient(top,rgba(0,0,0,.25) 50%,rgba(0,0,0,.5)));
    @include transition(background .3s linear);
    position: absolute;
    display: block;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}