.slat {
  padding: 3rem 0;

  @media #{$medium-up} {
    padding: 4rem 3rem;
  }

  @media #{$large-up} {
    padding: 3rem 0;
  }
}

.block {
  padding: 1rem 1.5rem 3rem;

  &-footer {
    margin-top: 1rem;
  }
}
