<footer class="bg-deep">
  <div class="row">
    <div class="large-8 columns">
      <nav class="h-nav">
        <ul class="r-inline-list">
          {% include "atoms/menu-items" %}
        </ul>
      </nav>
    </div>

    <div class="large-4 columns">
      <aside class="block">
        <header>
          <h3 class="zeta t-spaced t-bright">Visit Us</header>
          <figure>
            <img src="http://placehold.it/350x150">
          </figure>
          <article>
          <p class="gamma t-bright">10 am - 8pm</article>
        </aside>
        <aside class="block">
          <a href="" class="button info">Follow MOS</a>
        </aside>
      </div>
    </div>

    <div class="row">
      <div class="large-8 columns">
        <p class="t-bright">Copyright © 2015</p>
      </div>
    <div class="large-4 columns">
      
  </div> 
</footer>