<footer class="p-relative bg-darken clearfix">
    <div class="large-4 columns collapse right">
      <figure>
        <img data-interchange="[http://placehold.it/420x250, (default)], [http://placehold.it/960x540, (medium)]">
      </figure>
      <aside class="block">
        <header>
          <h3 class="zeta t-spaced t-bright">Visit Us</header>
          <article>
          <p class="gamma t-bright">10 am - 8pm</article>
        </aside>
      </div>

    <div class="large-8 columns">
      <nav class="h-nav">
        <ul class="r-inline-list">
          {% include "atoms/menu-items" %}
        </ul>
      </nav>
    </div>

    <div class="large-8 columns collapse p-absolute-down">
        <div class="small-6 large-4 columns">
          <p class="t-bright">Copyright © 2015</p>
        </div>
        <div class="small-6 large-4 columns">
          <a href="" class="info right">Follow MOS</a>
        </div>
      </div>  
</footer>