<section class="large-4 columns collapse rhythm">
  <aside class="block bg-wash">
    <header>
      <h4 class="zeta t-caps">Floorplan</h4>
    </header>
    <figure>
      <img src="http://placehold.it/350x150">
    </figure>
    <footer class="block-footer">
      <a href="#">download PDF</a>
    </footer>
  </aside>

  <div class="row collapse">
    <div class="medium-6 large-12 columns">
      {% include "molecules/block-type" %}
    </div>

    <div class="medium-6 large-12 columns">
      <aside class="block bg-ghost">
        <header>
          <h4 class="zeta t-caps">Feedback</h4>
        </header>
        <article>
          <h2 class="gamma">What was your favorite part of the show?</h2>
        </article>
        <footer class="block-footer">
          <a href="#">join the dicussion</a>
        </footer>
      </aside>
    </div>
  </div>
</section>