{% block content %}

{% include "molecules/hero-style" %}

<section class="slat">
  <div class="row">
    <div class="large-9 large-centered columns">
      <p>Bitters pour over flannel sriracha. Tofu hoodie Austin put a bird on it artisan. Cliche pork belly messenger bag, cornhole vegan mustache next level fixie chia pop-up Helvetica distillery. Raw denim yr +1 fanny pack, post-ironic Echo Park High Life gentrify narwhal. Chia ennui Carles four loko, </p>
      <p class="text-center no-margin"><a href="#" class="secondary button no-margin">Share</a><br/></p>
      </div>
  </div>
</section>

<section class="slat bg-darken">
  <p class="text-center no-margin"><a href="#" class="button">Tickets</a><br/>
  <a href="">Special group pricing available</a></p>
</section>  

<section class="content bg-deep">
  <header class="h-section bg-trans text-center rhythm-up">
    <div class="row">
      <div class="large-12 columns">
        <h6 class="t-bright t-spaced epsilon">Highlights</h6>
      </div>
    </div>
  </header>

  <div class="row rhythm-up">
    <section class="main large-8 columns">

      <figure class="text-center">
        <img data-interchange="[http://placehold.it/960x720, (default)], [http://placehold.it/960x540, (medium)], [http://placehold.it/2880x1620, (large)]">
      </figure>

      <div class="row">
        <div class="large-12 columns">
          <article class="slat">
            <p>Bitters pour over flannel sriracha. Tofu hoodie Austin put a bird on it artisan. Cliche pork belly messenger bag, cornhole vegan mustache next level fixie chia pop-up Helvetica distillery. Raw denim yr +1 fanny pack, post-ironic Echo Park High Life gentrify narwhal. Chia ennui Carles four loko, </p>
          </article>
        </div>
      </div>

      <div class="row collapse large-uncollapse">
        <div class="large-12 columns">
          <figure class="text-center">
            <img data-interchange="[http://placehold.it/960x720, (default)], [http://placehold.it/960x540, (medium)], [http://placehold.it/2880x1620, (large)]">
          </figure>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <article class="slat">
            <p>Bitters pour over flannel sriracha. Tofu hoodie Austin put a bird on it artisan. Cliche pork belly messenger bag, cornhole vegan mustache next level fixie chia pop-up Helvetica distillery. Raw denim yr +1 fanny pack, post-ironic Echo Park High Life gentrify narwhal. Chia ennui Carles four loko, </p>
          </article>
        </div>
      </div>
    </section>

  {% include "organisms/sidebar" %}
</section>

<section>
  <header class="h-section bg-darken">
    <div class="row">
      <div class="large-12 columns">
        <h6 class="t-bright t-spaced zeta text-center">Also on Display</h6>
      </div>
    </div>
  </header>

  <article class="hero hero-secondary">
    <figure class="cover" style="background-image: url(assets/images/hero-moon.jpg);">  
    </figure>

    <header class="hero-offset text-center">
      <h6 class="t-bright t-spaced zeta">Exhibition</h6>
      <h1 class="beta">New Material found on the Moon</h1>
      <p class="serif">2000 years from now we'll have a new nroth star</p>
    </header> 
  </article>
</section>

{% include "organisms/footer-style" %}
{% endblock %}