{% block content %}

{% include "molecules/hero" %}

<section class="content clearfix">

  <div class="main home-grid clearfix column-collapse items-container">
    <div class="small-12 medium-12 large-8 columns item">
      <article class="block">
        <header>
        <h2 class="t-caps">Become a Member</h2></header>
        <p>Be on the list when anything happens. Perks include staying update on special events, watch parties, seminars, and web launch parties. Member’s receive discount offers for items includingg tickets, member events and merchandise. </p>
        <ul class="button-group">
          <li><a href="#" class="button secondary">Subscribe</a></li>
          <li><a href="#" class="button">Donate</a></li>
        </ul>
      </article>
    </div>

    <div class="bg-darken small-12 medium-6 large-4 columns item">
      <figure>
        <img data-interchange="[http://placehold.it/420x250, (default)], [http://placehold.it/960x540, (medium)]">
      </figure>
      <article class="block text-center">
        <header>
          <h2 class="t-caps">Visit the Ministry</h2></header>
          <p class="t-caps">10 am - 8pm</p>
          <p class="t-caps"><a href="">Directions</a></p>
      </article>
    </div>

    <div class="block-photo small-12 medium-6 large-4 columns item">
      <figure class="block-photo-figure">
        <img data-interchange="[http://placehold.it/420x250, (default)], [http://placehold.it/720x360, (medium)]">
        <figcaption class="block"><h3>Exhibitons</h3></figcaption>
      </figure>

      <article class="block-type">
        <figure class="block-photo-figure">
          <img data-interchange="[http://placehold.it/420x250, (default)], [http://placehold.it/960x540, (medium)]">
        </figure>
        <header class="block block-type-header bg-darken">
          <h2 class="t-caps">Apollo Landers on Display</h2>
          <p><a href="">read more</a></p>
        </header>
      </article>
    </div>

    <div class="block-photo small-12 medium-6 large-4 columns clear-medium item">
      <figure class="block-photo-figure hide-for-medium-up">
        <img data-interchange="[http://placehold.it/420x250, (default)], [http://placehold.it/720x360, (medium)]">
        <figcaption class="block"><h3>Museum</h3></figcaption>
      </figure>

      <article class="block-type">
        <figure class="block-photo-figure">
          <img data-interchange="[http://placehold.it/420x250, (default)], [http://placehold.it/960x540, (medium)]">
        </figure>
        <header class="block block-type-header bg-darken">
          <h2 class="t-caps">Ride the Stars in the Exploratorium</h2>
          <p><a href="">read more</a></p>
        </header>
      </article>

      <figure class="block-photo-figure show-for-medium-up">
        <img data-interchange="[http://placehold.it/420x250, (default)], [http://placehold.it/720x360, (medium)]">
        <figcaption class="block"><h3>Museum</h3></figcaption>
      </figure>
    </div>

    <div class="block-photo small-12 medium-6 large-4 columns item">
      <figure class="block-photo-figure">
        <img data-interchange="[http://placehold.it/420x250, (default)], [http://placehold.it/720x360, (medium)]">
        <figcaption class="block"><h3>News</h3></figcaption>
      </figure>

      <article class="block-type">
        <figure class="block-photo-figure">
          <img data-interchange="[http://placehold.it/420x250, (default)], [http://placehold.it/960x540, (medium)]">
        </figure>
        <header class="block block-type-header bg-darken">
          <h2 class="t-caps">Rockets are Electric</h2>
          <p><a href="">read more</a></p>
          </header>
      </article>
    </div>
  </div>

  <div class="secondary home-grid clearfix column-collapse end items-container">
    <div class="block-photo small-12 medium-12 large-8 columns item">
      <article class="block-type">
        <figure class="block-photo-figure">
          <img data-interchange="[http://placehold.it/420x250, (default)], [http://placehold.it/1260x400, (medium)]">
        </figure>
        <header class="block block-type-header bg-darken">
          <h3>Exhibtions</h3>
          <h2 class="t-caps">New Material found on the Moon</h2>
          <p><a href="">read more</a></p>
          </header>
      </article>
    </div>

    <div class="small-12 medium-6 large-4 columns item">
      <article class="block">
        <figure>
          <img data-interchange="[http://placehold.it/420x250, (default)], [http://placehold.it/960x240, (medium)]">
        </figure>
        <header>
        <h3>People</h3>
        <h2 class="t-caps">Dean Marlow, Astronaut</h2>
        <p><a href="">read more</a></p>
        </header>
      </article>
    </div>

    <div class="block-photo small-12 medium-6 large-4 columns clear-large item">
      <article class="block-type">
        <figure>
          <img data-interchange="[http://placehold.it/420x250, (default)], [http://placehold.it/960x540, (medium)]">
        </figure>
        <header class="block block-type-header bg-darken">
          <h3>Discussion</h3>
          <h2 class="t-caps">Would Your Live on Mars?</h2>
          <p><a href="">read more</a></p>
        </header>
      </article>
    </div>

    <div class="small-12 medium-6 large-4 columns clear-medium item">
      <article class="block">
        <header>
        <h3>Learn More</h3>
        <h2 class="t-caps">Where Does Space Start?</h2>
        <p><a href="">read more</a></p>
        </header>
      </article>
    </div>

    <div class="block-photo small-12 medium-6 large-4 columns item">
      <article class="block-type">
        <figure>
          <img data-interchange="[http://placehold.it/420x250, (default)], [http://placehold.it/960x540, (medium)]">
        </figure>
        <header class="block block-type-header bg-darken">
          <h3>Resources</h3>
          <h2 class="t-caps">Browse the Archives</h2>
          <p><a href="">read more</a></p>
          </header>
      </article>
    </div>
  </div>

</section>

{% include "organisms/footer" %}
{% endblock %}