<aside class="block bg-tinted">
  <header>
    <h4 class="zeta t-caps">Ask an Astronomer</h4>
  </header>
  <article>
    <h2 class="gamma">Mandy Beamer, Astronomer</h2>
  </article>
  <footer class="block-footer">
    <a href="#" class="button">Ask Mandy</a>
  </footer>
</aside>