<section class="hero">
  <figure class="cover" style="background-image: url(assets/images/hero-walk.jpg);">  
  </figure>

  <header class="hero-offset center text-center">
    <h6 class="t-bright t-spaced zeta">Interactive Exhibition</h6>
    <h1>Walking in Space</h1>
    <h2 class="gamma serif large-9 large-centered columns">Join astronauts as they go on spacewalks, miles above the Earth. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
  </header>
</section>