<section class="hero">
  <figure class="cover" style="background-image: url(http://placehold.it/2880x1620);">  
  </figure>

  <header class="hero-offset center text-center medium-9 medium-centered columns">
    <h3>Interactive Exhibition</h3>
    <h1>Walking in Space</h1>
    <p>Join astronauts as they go on spacewalks, miles above the Earth. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </header>
</section>